[project]
	description = http://tutorial.djangogirls.org/en/index.html
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/K Rain Leander (rainsdance)
[access "refs/for/refs/*"]
	read = group user/K Rain Leander (rainsdance)
	push = group user/K Rain Leander (rainsdance)
	label-Code-Review = -2..+2 group user/K Rain Leander (rainsdance)
	label-Verified = -1..+1 group user/K Rain Leander (rainsdance)
	rebase = group user/K Rain Leander (rainsdance)
	removeReviewer = group user/K Rain Leander (rainsdance)
	submit = group user/K Rain Leander (rainsdance)
[access "refs/heads/*"]
	read = group user/K Rain Leander (rainsdance)
	create = group user/K Rain Leander (rainsdance)
	push = +force group user/K Rain Leander (rainsdance)
	pushMerge = group user/K Rain Leander (rainsdance)
[access "refs/tags/*"]
	push = +force group user/K Rain Leander (rainsdance)
	pushTag = group user/K Rain Leander (rainsdance)
	pushSignedTag = group user/K Rain Leander (rainsdance)
